<!DOCTYPE html>
<html lang="en" style="user-select: none;" class=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="LECU9nMvm1EqFHPX4mOusC27DRtGritLiVE7SYn-V10">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1" name="viewport"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/favicon.ico"> 
    <meta name="description" content="好好住，中国首个家居分享社交平台。发现真实好家，结识高能屋主，提高居住审美，寻找实用方案。无论是装修，或优化家居，你都可用「好好住」寻找实用灵感，发现值得买的家居好物。除此之外，你还能看到一切与家居及室内设计相关的新鲜分享：民宿、酒店、家具家居店、各种公共空间……都是「好好住」所提倡分享的，室内设计师、家居编辑、家居买手、家具及工业设计师等等专业人士，也在此分享他们的广阔视野及独到见解，帮助你开阔眼界、提高审美、营造更好的居住空间。">
    <meta name="keywords" content="好好住,居住榜样,居住指南,大家的家,好好唠,家居,家具,家装,装修,软装,硬装,居住,指南,室内,设计,生活,北欧,日式,美式,案例,晒家,效果图,宜家,窝牛,Houzz,唯品家,酷家乐,造作,土巴兔,airbnb">
    <title>极致空间</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/style.css?v=4"> 
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css?v=13">
    <script src="__PUBLIC__/home/js/hm.js"></script><script>
</script>
<script>
    document.documentElement.style.webkitTouchCallout='none';
    document.documentElement.style.webkitUserSelect='none';
</script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/icon/iconfont.css">
    <style>

    </style>
</head>

<body style="overflow-x:hidden;">
    <header class="nav-header" style="display:block;">
        <section style=" margin:0 auto;width:1200px;overflow:hidden;">
        <div class="logo">
            <a href="" style="display:block;">
            <img src="__PUBLIC__/img/logo.png" alt="" class="img-responsive"></a>
        </div>
        <nav class="top-nav">
            <a href="" class="nav-item active">首页</a>
            <a href="" class="nav-item">分类</a>
            <a href="" class="nav-item">话题</a>
            <a href="" class="nav-item">文章</a>
            <a class="toMake">登录</a>
        </nav>
        </section>
    </header>
    <header class="nav-header-opcity"></header>
    <div class="main">
        <div class="up">
            <i class="icon iconfont icon-up" style="font-size: 24px;color: #fff"></i>
        </div>
        <div class="swiper-container swiper-container-horizontal" style="margin-top: 10px">
            <div class="swiper-wrapper" style="transform: translate3d(-7545.5px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide" data-swiper-slide-index="0" style="margin-right: 10px;">
                    <img src="__PUBLIC__/home/img/img_about_01.jpg">
                </div>
                <div class="swiper-slide" data-swiper-slide-index="1" style="margin-right: 10px;">
                    <img src="__PUBLIC__/home/img/img_about_02.jpg">
                </div>
                <div class="swiper-slide" data-swiper-slide-index="2" style="margin-right: 10px;">
                    <img src="__PUBLIC__/home/img/img_about_03.jpg">
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
                <span class="swiper-pagination-bullet"></span>
            </div>
        </div>
        <div class="center">
            <section id="article">
                <div class="article_name">最新文章</div>
                <div class="article-list">
                    <div class="article-info">
                        <div class="pic">
                            <a href="http://www.self.com/index.php/Home/Article">
                                <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="世界，您好！">
                            </a>
                            <div class="article-user">
                                <div style="float: right">
                                    <span>
                                        <i class="icon iconfont icon-yanjing" style="font-size: 16px"></i> 132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-like" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-praise" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="post-content">
                            <div class="title">
                                <span>欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！</span>
                            </div>
                            <div class="end">
                                <div class="end-left">
                                    <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="">
                                    我平时s大叔大叔大
                                </div>
                                <div class="end-right">
                                    <span>#家居#</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-info">
                        <div class="pic">
                            <a href="http://127.0.0.1/wp/index.php/2018/03/07/hello-world/" target="_blank">
                                <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="世界，您好！">
                            </a>
                            <div class="article-user">
                                <div style="float: right">
                                    <span>
                                        <i class="icon iconfont icon-yanjing" style="font-size: 16px"></i> 132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-like" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-praise" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="post-content">
                            <div class="title">
                                <span>欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！</span>
                            </div>
                            <div class="end">
                                <div class="end-left">
                                    <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="">
                                    我平时s大叔大叔大
                                </div>
                                <div class="end-right">
                                    <span>#家居#</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-info">
                        <div class="pic">
                            <a href="http://127.0.0.1/wp/index.php/2018/03/07/hello-world/" target="_blank">
                                <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="世界，您好！">
                            </a>
                            <div class="article-user">
                                <div style="float: right">
                                    <span>
                                        <i class="icon iconfont icon-yanjing" style="font-size: 16px"></i> 132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-like" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-praise" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="post-content">
                            <div class="title">
                                <span>欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！</span>
                            </div>
                            <div class="end">
                                <div class="end-left">
                                    <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="">
                                    我平时s大叔大叔大
                                </div>
                                <div class="end-right">
                                    <span>#家居#</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-info">
                        <div class="pic">
                            <a href="http://127.0.0.1/wp/index.php/2018/03/07/hello-world/" target="_blank">
                                <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="世界，您好！">
                            </a>
                            <div class="article-user">
                                <div style="float: right">
                                    <span>
                                        <i class="icon iconfont icon-yanjing" style="font-size: 16px"></i> 132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-like" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-praise" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="post-content">
                            <div class="title">
                                <span>欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！</span>
                            </div>
                            <div class="end">
                                <div class="end-left">
                                    <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="">
                                    我平时s大叔大叔大
                                </div>
                                <div class="end-right">
                                    <span>#家居#</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-info">
                        <div class="pic">
                            <a href="http://127.0.0.1/wp/index.php/2018/03/07/hello-world/" target="_blank">
                                <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="世界，您好！">
                            </a>
                            <div class="article-user">
                                <div style="float: right">
                                    <span>
                                        <i class="icon iconfont icon-yanjing" style="font-size: 16px"></i> 132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-like" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                    <span>
                                        <i class="icon iconfont icon-praise" style="font-size: 16px"></i>132&nbsp;
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="post-content">
                            <div class="title">
                                <span>欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！</span>
                            </div>
                            <div class="end">
                                <div class="end-left">
                                    <img src="__PUBLIC__/home/img/img_about_01.jpg" alt="">
                                    我平时s大叔大叔大
                                </div>
                                <div class="end-right">
                                    <span>#家居#</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="cate">
                <div class="cate_list">
                    <p>热门分类</p>
                </div>
                <div class="cate_info">
                    <foreach name="ArticleCate" item="vos">
                        <a href="" class="cate_one" style="background-color:{$vos.color}">#{$vos.cate_name}#</a>
                    </foreach>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <nav class="bottom-nav">
            <a href="" class="bottom-nav-item relate-bottom">关于我们</a>
            <a href="" class="bottom-nav-item relate-bottom">欢迎骚扰</a>
        </nav>
    </footer>
<script src="__PUBLIC__/home/js/jquery.min.js"></script>
<script src="__PUBLIC__/home/js/zepto.min.js"></script>
<script src="__PUBLIC__/home/js/underscore-min.js"></script>
<script src="__PUBLIC__/home/js/fastclick.js"></script>
<script src="__PUBLIC__/home/js/baidu.js"></script>
<script src="__PUBLIC__/home/js/iscroll.js"></script>
<script src="__PUBLIC__/home/js/swiper.min.js"></script>
<script src="__PUBLIC__/home/js/index.js"></script>
<script>
    $(window).scroll(function(event){
        var scrtop = $(document).scrollTop();
    });
    $(function() {
        var nav_swiper =  window.screen.width;
        $('.swiper-container-nav').height(nav_swiper*840/1920);
        $('.img-height > img').height(nav_swiper*840/1920);
        $('.img-height > img').width(nav_swiper);
        $('#nav-swiper').width(nav_swiper);
    var swiper = new Swiper('.swiper-container-nav', {
        pagination: '.swiper-pagination-nav',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        effect: 'fade',
        autoplay: 2500,
        width: nav_swiper,
        autoplayDisableOnInteraction: false
    });
    });
        var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: "auto",
        centeredSlides: true,
        autoplay: 2500,
        loop : true,
        paginationClickable: true,
        spaceBetween: 10
    });

    $(".pic").hover(function () {
        $(this).children(".article-user").slideDown();
    }, function () {
        $(this).children(".article-user").slideUp();
    });

    // 右侧用户分类浮动
    $(document).ready(function () {
        var h = $('.cate_info').offset().top;
        $(window).scroll(function () {
            var h2 = $(this).scrollTop();
            if (h2+120 > h) {
                $('.cate_info').css('position', 'fixed').css('top', '105px');
            } else {
                $('.cate_info').css('position', 'static');
            }
        });
    });
</script>
</body></html>